<h2>Form di Inserimento</h2>
<br>
<input type="text" #nome placeholder="Nome">
<br>
<input type="text" #cognome placeholder="Cognome">
<br>
<input type="text" #indirizzo placeholder="Indirizzo">
<br>
<input type="text" #telefono placeholder="Telefono">
<br>
<input type="text" #email placeholder="Email">
<br>
<input type="text" #data placeholder="Data Prenotazione">
<br>
<input type="text" #ora placeholder="Ora prenotazione">

@for(a of vettPrenotazioni; track a){
  <br><br>
  {{a.nome}}<br>
  {{a.cognome}}<br>
  {{a.indirizzo}}<br>
  {{a.telefono}}<br>
  {{a.email}}<br>
  {{a.data}}<br>
  {{a.ora}}<br>
}